{{> navbar }}
<div class="row">
    <div class="col">
        <div class="row" style="padding-top: 5%">
            <div class="col-md-2 offset-9 ">
                <a href="/books/addBook"><button type="button" class="btn mybookshelf-button">Aggiungi libro</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Titolo</th>
                            <th scope="col">Autore</th>
                            <th scope="col">Voto</th>
                            <th scope="col">Avanzamento</th>
                            <th scope="col">Dettaglio</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each books}}
                        <tr>
                            <td>{{this.title}}</td>
                            <td>{{this.author}}</td>
                            <th scope="col">{{this.rating}}/5</th>
                            {{#switch this.status}} 
                                <td>
                                    {{#case '0'}} <div class="progress"><div class="progress-bar bg-info" role="progressbar" style="width: {{percentage}}%" aria-valuenow="{{this.currentPage}}" aria-valuemin="0" aria-valuemax="{{this.pages}}"></div></div> {{/case}} 
                                    {{#case '1'}} <div class="progress"><div class="progress-bar bg-primary" role="progressbar" style="width: {{percentage}}%" aria-valuenow="{{this.currentPage}}" aria-valuemin="0" aria-valuemax="{{this.pages}}"></div></div> {{/case}} 
                                    {{#case '2'}} <div class="progress"><div class="progress-bar bg-danger" role="progressbar" style="width: {{percentage}}%" aria-valuenow="{{this.currentPage}}" aria-valuemin="0" aria-valuemax="{{this.pages}}"></div></div> {{/case}} 
                                    {{#case '3'}} <div class="progress"><div class="progress-bar bg-success" role="progressbar" style="width: {{percentage}}%" aria-valuenow="{{this.currentPage}}" aria-valuemin="0" aria-valuemax="{{this.pages}}"></div></div> {{/case}} 
                                </td>
                            {{/switch}}
                            <td><a href="/books/{{this._id}}"><button type="button" class="btn btn-link">Vai</button></a></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
