<div class="row">
    <div class="col-1">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Settings</a>
            </li>
        </ul>
    </div>

    <div class="col">

        <div class="row" style="padding-top: 5%">
            <div class="col-8 offset-2">
                <h1 class="display-6">Hi, Marco</h1>
                <p class="lead">
                This is your books list
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-9">
                <a href="books/addBook"><button type="button" class="btn btn-primary">Add book</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Pages</th>
                            <th scope="col">Status</th>
                            <th scope="col">Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each books}}
                        <tr>
                            <td scope="row">#</td>
                            <td>{{this.title}}</td>
                            <td>{{this.author}}</td>
                            <td>{{this.pages}}</td>
                            <td>{{this.status}}</td>
                            <td><a href="books/{{this._id}}"><button type="button" class="btn btn-link">Go</button></a></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
